<div class="background-image background-<%= controller.controller_name %>-<%= controller.action_name %>-header">

  <%= yield :navigation %>

  <div class="header-title">
    <h1><%= @page_title %></h1>
    <h2><%= @page_subtitle %></h2>
  </div>
</div>
