<li class="person one-half">
  <div class="person-image">
    <%= image_tag member.gravatar_url, class: "avatar" %>
  </div>
  <div class="person-info">
    <h1><%= member.name %></h1>
    <p><%= member.description %></p>
    <ul class="person-social">
      <li><%= fa_icon "twitter" %></li>
      <li><%= fa_icon "github" %></li>
      <li><%= fa_icon "globe" %></li>
    </ul>
  </div>
</li>
