<nav class="header-navigation center">
  <ul>
    <li class="logo">
      <%= link_to root_url do %>
        <%= image_tag 'icons/heart.png' %>
      <% end %>
    </li>
    <%= active_link_to "Home", root_path, wrap_tag: :li, active: :exclusive %>
    <%= active_link_to "Events", events_path, wrap_tag: :li %>
    <%= active_link_to "Team", team_path, wrap_tag: :li %>
    <%# <%= active_link_to "Contact", contact_path, wrap_tag: :li %1> %>
  </ul>
</nav>
